.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  overflow: hidden;
  position: relative;
}

.login {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 1px solid black;
}

#slider {
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 140px;
  box-sizing: border-box;
}

.imageLine {
  width: 5478px;
  height: 100%;
}
